body {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    font-family: Arial;
    color: #fff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    float: left;
}

.main-header-title {
    margin: 0 0 20px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.main-header-list {
    margin: 0;
    padding: 0 0 0 25px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.main-header-list-item {
    list-style-type: none;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url("../img/main-header-list-item.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 7px;
    left: -32px;
}

.main-header-img {
    display: block;
    width: 469px;
    height: 214px;
    background-color: #fff;
    float: right;
}