body {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #fff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    float: left;
}

.main-header-title {
    margin: 0 0 20px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.main-header-list {
    margin: 0;
    padding: 0 0 0 35px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.main-header-list li {
    list-style-type: none;
    position: relative;
    /*left: 10px;*/
}

.main-header-list li:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url("../img/main-header-list-item.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 7px;
    left: -30px;
}

.dmain-header-list li:last-child {
    margin: 0;
}

.main-header-img {
    display: block;
    width: 469px;
    height: 214px;
    background-color: #fff;
    float: right;
}

.main-section {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.main-section:after {
    display: block;
    content: "";
    width: 100%;
    clear: both;
}

.about-product-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

.about-product-content {
    padding: 0 100px 0 0;
    width: 650px;
    float: left;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}

.about-product-img {
    display: block;
    background-color: #445161;
    float: right;
}

.dignity-pulses-product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-pulses-product-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
}

.dignity-pulses-product-list {
    width: 48%;
    padding: 0 0 0 35px;
    list-style: none;
    box-sizing: border-box;
    margin: 0 -16px 0 0;
}

.dignity-pulses-product-list li {
    position: relative;
    margin: 0 0 20px 0;
    list-style-type: none;
    padding: 0 0 0 10px;
}

.dignity-pulses-product-list li:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../img/dignity-pulses-product-list-item.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: 3px;
    left: -35px;
    background-color: #445161;
}

.dignity-pulses-product-list li:last-child {
    margin: 0;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 0;
}

.screenshot {
    width: 560px;
}

.screenshots-title {
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    font-size: 30px;
}

.screenshot-img {
    display: block;
    background-color: #445161;
    float: left;
    margin: 0 10px 0 0;
}

.screenshot-title {
    text-align: left;
    margin: 0 0 0 0;
    font-size: 24px;
}

.screenshot-description {
    text-align: left;
    font-size: 16px;
    margin: 0 0 0 0;
}